ol li{
    background-color: yellow;
}
ol li.par{
    color: green;
}
ol li.impar{
    text-transform: uppercase;
}
h1,h3{
    color: red;
}
h1 em,h3 em{
    font-size: 40px;
    border: 1px solid black;
}
li{
    font-size: 20px;
}
li em{
    font-weight: bold;
}
li.podio{
    color:blue;
}
li.podio.java{
    background-color: pink;
}
.stack :hover{
    font-weight: bold;
    color: orange;
}
.w3s :hover{
    font-weight: bold;
    color: green;
}
.mozilla :hover{
    font-weight: bold;
    color: black;
}
.devdocs :hover{
    font-weight: bold;
    color: yellow;
}
.trybe :hover{
    font-weight: bold;
    color: green;
}